


.chart-wrapper {
    padding: .4rem .6rem;


    .chart-container {
        width: 98%;
        height: 280px;
        background-color: #09031D;
        margin: .5rem auto;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
}
